/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 31 may 2024, 07:52:27
    Author     : LENOVO
*/

/* Estilos para el encabezado */
header {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 10px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Estilos para los productos en el carrito */
#carrito-container {
    margin-top: 20px;
}

.producto {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
}

.producto h2 {
    margin-top: 0;
}

.producto img {
    max-width: 100px;
    max-height: 100px;
    margin-bottom: 10px;
}

.producto p {
    margin-bottom: 5px;
}

.producto .precio {
    font-weight: bold;
    color: #27ae60; /* Color verde */
}
